@charset "UFT-8";

/* paleta de cores
   #f26938;
   #45788c;
   #131f26;
   #d9d1ba;
*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

  }

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
   position: relative; 
   height: 100vh;
   width: 100vw;
   background-color:  #45788c;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 300px;
    height: 95%;
    background-color: #45788c; 
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
div#image{
    display: block;
    background: #45788c url(../imagens/pexels-guillaume-meurice-2529184.jpg) no-repeat ;
    background-size: cover;
    height: 250px;
}
div#form{
    display: block;
    padding: 20px;
}
#form > h1{
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
    text-shadow: 0px 0px 2px black;
}
#form > p{
    color:#ffffff;
    font-size:0.9em;
}
form > div.campo{
   background-color: #131f26;
   border: 2px solid #131f26;
   display: block;
   width: 100%;
   height: 35px;
   margin: 5px 0px;
   border-radius: 5px;
   cursor: pointer;
}
.campo label{
    display: none;
}
.campo span{
    background-color: #131f26;
    color: #fff;
    width: 35px;
    padding: 6.2px;
    font-size: 1.2em;
   
}
.campo > input{
    width: 212px;
    padding: 11px 0px 2px 0px;
    background-color:#131f26;
    font-size: 0.9em;
    border: 0px;
    border-radius: 5px;
   
}
.campo > input:focus-within{
    border: none;
    background-color: #131f26;
    color: #fff;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#45788c;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
   
}
form > input[type=submit]:hover{
    background-color: #f26938;
    color: #fff;
}
form > a.botao{
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 42px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    color: #ffffff;
    border: 1px solid #131f26;
    background-color:#131f26;
    border-radius: 5px;
}
form > a.botao > span{
    font-size: 0.9em;
}
form > a.botao:hover{
    background-color: #f26938;
    color: #fff;
}